

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.tutto {
    margin: 0px 50px 0px 50px;
}

/* main */


.banner {
    background-image: url(../img/pattern.png);
    background-color: #41a0ff;
    background-repeat: repeat;
    background-size: 36%;
}

.logo {
    height: 80px;
    margin: 80px 0px 0px 10px;
}

h1 {
    font-size: 70px;
    display: block;
    margin: 20px 0px 10px 0px;
}

.autore {
    font-size: 20px;
    color: #89939e;
}

.data {
    color: #89939e;
    padding-bottom: 30px;
}

.foto1 {
    width: 900px;
}

.foto2 {
    width: 770px;
}

.descrizione-foto1{
    font-size: small;
}

.descrizione-foto2 {
    font-size: small;
}


.testo-lorem {
    font-size: 20px;   
}

.lista {
    padding-left: 12px;
    margin: 20px 0px 20px 0px;
    font-size: 18px;
}

/* tabella */

table {
    margin: 30px 0px;
    border-spacing: 0px;
}

.prima-riga {
    background-color: #2e98e4;
    color: #fff;
}

.colonna {
    width: 30%;
}
.descrizione-colonna {
    width: 60%;
}

.righe {
    height: 50px;
}

.colore-righe {
    background-color: #6ac3d7;
    opacity: 0.8;
}

span {
    background-color: #f6ff00;
}

/* footer */

.ulteriore {
    color: grey;
    margin-top: 40px;
}

#monitor {
    background-image: url(../img/monitor.jpg);
    width: 300px;
    height: 200px;
}

.scritta-sopra-img {
    color: white;
}

#graph {
    background-image: url(../img/graph.jpg);
    width: 300px;
    height: 200px;
}

h2 {
    padding: 20px 0px 0px 10px;
}